@model dynamic

@{
    ViewBag.Title = "Edit";
}

<script>
    var main = angular.module("main", ['textAngular']);
    main.controller('MainController', [
        '$scope', '$http', function($scope, $http) {

            $http({ method: 'Get', url: '/Back/Get' })
                .then(function(r) { $scope.text = $scope.origin = r.data; });

            $scope.save = function() {
                $http({ method: 'Post', url: '/Back/Save', data: { cv: $scope.text } })
                    .then(function() { $scope.origin = $scope.text; });
            }
        }
    ]); 
</script>

<div ng-app="main" ng-controller="MainController">
    <input type="button" ng-click="save()" value="SAVE" ng-if="text !== origin"/>
    <div class="well well-small">
        <div text-angular ng-model="text"
             text-angular-name="EDIT NOTE"
             ta-toolbar="[['h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'p', 'pre', 'quote', 'bold', 'italics', 'underline', 'strikeThrough', 'ul', 'ol', 'redo', 'undo', 'clear', 'justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull', 'indent', 'outdent', 'html', 'insertImage', 'insertLink']]"
             ta-toolbar-class="btn-toolbar"
             ta-toolbar-group-class="btn-group"
             ta-toolbar-button-class="btn btn-default"
             ta-toolbar-button-active-class="active"></div>
    </div>
</div>
